In [9]:
x=2
print(x)
x="HELLO"
print(x)
print("str dddd")

2
HELLO
str dddd

3

In [14]:
def add_numbers(a,b):
    c = a+b
    return c
print(add_numbers(3,4)) 
print(add_numbers(3,4))
add_numbers(3,4)

7
7

7

In [16]:
a = 2
b = [1,2,3,
     4,5,6]
print(b) ; print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [26]:
with open('myfile.txt', 'w') as myfile :
    print("HELLO", file = myfile)

In [ ]:
with open('myfile.txt', 'w') as myfile :
    myfile.write("HELLO")

In [27]:
myfile = open('myfile.txt', 'w')
myfile.write("HELLO")
myfile.close()

In [30]:
with open('myfile.txt', 'r') as myfile :
    data = myfile.read()
print(data)

HELLO ! WORLD !!!

In [31]:
print(3)
print(3+2)

3
5

In [36]:
print("My number is %d"%3)
print("My number is %d"%3.5)
print("My number is %f"%3.5)

My number is 3
My number is 3
My number is 3.500000

In [38]:
print(2/4*3/4)
print(2*3/4)
print((2*3)/4)
print(2**3**4)
print(2**(3**4))

# Almost all the operators have left-to-right associativity. For example, multiplication and floor division have the same precedence. Hence, if both of them are present in an expression, the left one is evaluated first. Note: Exponent operator ** has right-to-left associativity in Python.

0.375
1.5
2417851639229258349412352
2417851639229258349412352

In [55]:
print(3.8e+005)
print("%.2f"%12.3456) # %.2f means to round up to two decimal places.
print("%e"%12.3456)
print("%e"%123456)
print("%e"%-12.3456)
print("%e"%1)
print("%e"%0.225)
print("%e"%0)

380000.0
12.35
1.234560e+01
1.234560e+05
-1.234560e+01
1.000000e+00
2.250000e-01
0.000000e+00

In [66]:
name='XYZ'
age = 20
print("Hello ! My name is %s" %name)
print("Hello ! My name is %s and i am %d years old" %(name,age))
print("This is one line \n This is another line")
print('\\')
print('\tA')
print('\'')
print('\"')
print('"Hi! I am XYZ", she said')
print("\"Hi! I am XYZ\", she said")
# the triple quotes (''' or """) are used to define a multi-line string. This is useful when you have a string that spans multiple lines and you want to keep the formatting. Both single (''') and double (""") triple quotes can be used, and they function the same way. 
string_one = '''"Hello",said XYZ \n "Hi", said ABC'''
print(string_one)
string_two = '"Hello",said XYZ \n "Hi", said ABC'
print(string_two)

Hello ! My name is XYZ
Hello ! My name is XYZ and i am 20 years old
This is one line
 This is another line
\
	A
'
"
"Hi! I am XYZ", she said
"Hi! I am XYZ", she said
"Hello",said XYZ
 "Hi", said ABC
"Hello",said XYZ
 "Hi", said ABC

In [68]:
name = "Jane Smith"
print(len(name)) # 10
print(name.lower())
name = name.lower()
print(name) # jane smith

10
jane smith

In [70]:
from ast import Delete


a = 0 # global
if a==1:
    b = 1 # global
else:
    b =0

def my_function(c):
    d = 3
    print(c)
    print(d)
my_function(4)
print(a)
print(b)
#print(c) # error
#print(d) # error

4
3
0
0

In [71]:
# program - 1 : 
a = 0 # global
def my_function():
    print(a)
my_function() # 0

0

In [72]:
# program - 1 : 
a = 0 # global
def my_function():
    a = 3 # local
    print(a)
my_function() # 3
print(a) # 0

3
0

In [73]:
# program - 3 : 
a = 0 # global
def my_function():
    global a
    a = 3
    print(a)
my_function() # 3
print(a) # 3

3
3

In [74]:
##### ERROR ################# :
# program - 4 : 
a = 0 # global
def my_function():
    print(a) # 0
    a = 3
    print(a) # 3
my_function()

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [79]:
NO_OF_DAYS_IN_WEEK = 7
M_MARKS = 80
tom_marks = 58
print("Tom's marks is %.2f%%" %((tom_marks/M_MARKS)*100)) # IMPORTANT

Tom's marks is 72.50%

In [85]:
LOWER, UPPER, CAPITAL = 1,2,3
name = "jANE Smith"
name2 = 'Jane Smith'
print(name)
print(name2)
print_style = CAPITAL
if print_style == LOWER:
    print(name.lower()) # jane smith
elif print_style == UPPER:
    print(name.upper())
elif print_style == CAPITAL:
    print(name.capitalize())

jANE Smith
Jane Smith
Jane smith

In [57]:
import string
import math
import re

print(string.ascii_lowercase)
print(math.pi)
print(math.e)

abcdefghijklmnopqrstuvwxyz
3.141592653589793
2.718281828459045

In [58]:
total=0
total+=3
print(total)

3

In [ ]:
correct_input = False
while not correct_input :
    try:
        height = int(input("Enter your height: "))
        weight = int(input("Enter your weight: "))
    except ValueError:
        print("Enter Valid Data")
    else:
        correct_input = True

In [88]:
# IMPLICIT CONVERSION :::: 
result = 8.5*2
print(result)
result = 8.5+7 // 3 - 2.5
print(result)
result = 8.5+7/3 - 2.5
print(result)

17.0
8.0
8.333333333333334

In [94]:
# EXPLICIT CONVERSION :::: 
i = int(8.55)
print(i)
import math
print(math.ceil(5.834))
print(math.floor(5.834))
print(round(5.834)) # 6
print(round(5.234)) # 5
print(round(5.5)) # 6
print(round(5.4))
print(round(5.6))
print(round(4.5)) # 4

8
6
5
6
5
6
5
6
4

In [98]:
#print("3"+4) #error
print("3%d"%4) #34
print(int("3")+4) #7
print("3"+str(4)) #34

34
7
34

In [149]:
my_flag = True
bool('XYZ')
bool("0")
a = [1,2,3]
b = [1,2,3]
if a == b:
    print("Lists have same value")
if a is b:
    print("AC")

Lists have same value

In [128]:
D_NAME = {3 : "Computer",
          1 : "Math",
          2 : "Civil"
          }
course_code = 1
if course_code in D_NAME :
    print("Dept : %s"%D_NAME[course_code])

Dept : Math

In [114]:
my_string = "ABC"
my_action = "r"
def reverse(string):
    print("'%s' reversed is '%s'"%(string, string[::-1]))
def cap(string):
    print("'%s' CAP is '%s',"%(string, string.upper()) )

ACTIONS = {"r":reverse,
           "c":cap}

my_function = ACTIONS[my_action]
print(my_function)
my_function(my_string)

<function reverse at 0x0000023306A01E40>
'ABC' reversed is 'CBA'

In [126]:
# LISTS ::
animals = ['cat', 'dog', 'fish', 'bison']
print(animals)
print(animals[1:3]) # ['dog', 'fish']
print(animals[1:-1]) # ['dog', 'fish']
print(animals[2:])
print(animals[:2])
print(animals[:])
print(animals[::2])
print(animals[::1])
print(animals[::-1])
print(animals[::4])

animals[3] = "hamster"
print(animals[::1])
animals.append("sal")
print(animals[::1])
del animals[2]
print(animals[::1])

['cat', 'dog', 'fish', 'bison']
['dog', 'fish']
['dog', 'fish']
['fish', 'bison']
['cat', 'dog']
['cat', 'dog', 'fish', 'bison']
['cat', 'fish']
['cat', 'dog', 'fish', 'bison']
['bison', 'fish', 'dog', 'cat']
['cat']
['cat', 'dog', 'fish', 'hamster']
['cat', 'dog', 'fish', 'hamster', 'sal']
['cat', 'dog', 'hamster', 'sal']

In [133]:
my_list = ['cat', 12, 35.6]
numbers = [34,67,12,29]
number = 67
if number in numbers:
    print("yes")
sum(numbers)
print(any([0,0,0,1,0,0,]))
print(all([0,0,0,1,0,0,]))
print(any([0,0,0,0,0,0,]))
print(all([2,3,4,5,6]))

yes
True
False
False
True

In [137]:
nums = [1,2,3,4,5]
nums.append(5)
nums.count(5)
nums.extend([5,6,2,12])
print(nums)
print(nums[3])
print(nums.index(5)) # gets the index of element 5
nums.insert(0, 45) # (index, value)
print(nums)
my_number = nums.pop(0) # pops at 0th index
print(my_number)
print(nums)

my_number = nums.pop()
print(my_number)
print(nums)

my_number = nums.remove(5) # removes the elemnt at index '5'
print(my_number) # this return 'None'
print(nums)

[1, 2, 3, 4, 5, 5, 5, 6, 2, 12]
4
4
[45, 1, 2, 3, 4, 5, 5, 5, 6, 2, 12]
45
[1, 2, 3, 4, 5, 5, 5, 6, 2, 12]
12
[1, 2, 3, 4, 5, 5, 5, 6, 2]
None
[1, 2, 3, 4, 5, 5, 6, 2]

In [140]:
nums = [3,2,4,1]
nums.sort()
nums.reverse()
print(nums)

pets_1 = animals # creates a reference to animals
pets_2 = list(animals) # creates a copy for animals 

animals.append('rat')
print(animals)
print(pets_1)
print(pets_2)

pets_1.append('horse')
print(animals)
print(pets_1)

[4, 3, 2, 1]
['cat', 'dog', 'hamster', 'sal', 'rat', 'rat']
['cat', 'dog', 'hamster', 'sal', 'rat', 'rat']
['cat', 'dog', 'hamster', 'sal', 'rat']
['cat', 'dog', 'hamster', 'sal', 'rat', 'rat', 'horse']
['cat', 'dog', 'hamster', 'sal', 'rat', 'rat', 'horse']

In [141]:
print([1,2,3] + [4,5,6])
print([1,2,3]*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [145]:
# 2- D Values
my_table= [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]
]

print(my_table)
print(my_table[0][0])
print(my_table[0][1])
print(my_table[1][0])

my_3d_list = [
    [[1,2],[3,4]],
    [[5,6],[7,8]]
]
print(my_3d_list[0][0][0])
print(my_3d_list[0][1][0])
print(my_3d_list[0][1][1])
print(my_3d_list[1][1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
1
2
4
1
3
4
8

In [146]:
my_long_list = [0]*100
print(my_long_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [148]:
### TUPLES ARE SIMILAR TO LIST, BUT THEY ARE IMMUTABLE

week_days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')
print(week_days.count('Mon'))
print(week_days.index('Wed'))
# week_days.append('MyDay') # ERROR
# week_days[0] = 'MyDay' # ERROR

1
2

In [153]:
L = [(1),(2,3),(3,4,5)]
T = L[1]
print(T[1])

3

abc
ab
ac
a
bc
b
c